@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@100&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, from(#1E1F26), to(#4D648D));
  background: linear-gradient(to right top, #1E1F26, #4D648D);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  overflow: hidden;
}

.app-container {
  position: relative;
}

.app-container .container {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  width: 70vw;
  height: 80vh;
  padding: 0 3em;
  margin: auto;
  border-radius: 2rem;
  overflow: scroll;
  scrollbar-width: none;
  -webkit-box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
          box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
  z-index: 2;
  -webkit-backdrop-filter: blur(20rem);
          backdrop-filter: blur(20rem);
}

.app-container .container::-webkit-scrollbar {
  display: none;
}

.bubble-one,
.bubble-two,
.bubble-three,
.bubble-four {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(#ffffff33));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), #ffffff33);
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.bubble-one {
  top: 5%;
  right: 5%;
  z-index: 1;
}

.bubble-two {
  width: 10rem;
  height: 10rem;
  top: 1%;
  right: 1%;
  z-index: 1;
}

.bubble-three {
  bottom: -10%;
  left: 5%;
  z-index: 1;
}

.bubble-four {
  width: 10rem;
  height: 10rem;
  bottom: -10%;
  left: -1%;
  z-index: 1;
}

.nav-container {
  color: #1E1F26;
  width: 100vw;
  height: 10vh;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-container .logo {
  font-family: cursive;
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  pointer-events: none;
}

.nav-container .add-blog-btn {
  background: #1E1F26;
  color: #fffefe;
  max-width: 20%;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 2;
}

.nav-container .search-bar {
  border: none;
  width: 30%;
  border-radius: 15%;
  padding: .5rem 1rem;
  outline: none;
}

.add-blog-page {
  background: #283655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  padding: 4rem 0;
  margin-top: 1rem;
}

.add-blog-page .add-blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 80%;
}

.add-blog-page input, .add-blog-page textarea {
  margin: .5rem 0;
  color: #1E1F26;
  padding: .5rem;
}

.add-blog-page textarea {
  height: 10rem;
}

.add-blog-page button {
  min-width: 70px;
  margin-top: 1rem;
  border-radius: 10%;
  width: 6rem;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  padding: 5rem;
  width: 100%;
  background: #283655;
  z-index: 3;
}

.blog-container .expand-blog-btn {
  background: none;
  border: none;
  color: #C4DFE6;
}

.blog-container .blog-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
}

.blog-container .blog-content {
  margin: 10% 5%;
  line-height: 2rem;
  font: 1.5rem;
  width: 100%;
  background: #4D648D;
  padding: 1.5rem;
  border-radius: 5%;
}

.blog-container .delete-btn {
  border-radius: 10%;
  padding: .3rem;
  color: #283655;
  margin: 1rem;
  width: 8rem;
}

.blog-container .delete-btn:hover {
  background: darkred;
  color: white;
}

.reply-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  width: 80%;
}

.reply-form input, .reply-form textarea {
  color: #1E1F26;
  padding: .5rem;
}

.reply-form button {
  width: 5rem;
  margin-top: 1rem;
  border-radius: 10%;
}

.comments-container {
  border: 1px #4D648D solid;
  color: white;
  padding: 2rem;
  margin-top: 5rem;
}

.comment {
  margin-top: 3.5rem;
}
/*# sourceMappingURL=App.css.map */